@font-face {
  font-family: MontserratRegular;
  src: url("../Fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratMedium;
  src: url("../Fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontserratThin;
  src: url("../Fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
  font-family: MontserratLight;
  src: url("../Fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: SofiaPro-Bold;
  src: url("../Fonts/Sofia-Pro/SofiaPro-Bold.ttf");
}

@font-face {
  font-family: SofiaPro-Regular;
  src: url("../Fonts/Sofia-Pro/Sofia-Pro-Regular.ttf");
}

@font-face {
  font-family: SofiaPro-SemiBold;
  src: url("../Fonts/Sofia-Pro/SofiaPro-SemiBold.ttf");
}

.contact-container {
  position: absolute;
  overflow-x: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.contact-container .background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #00e5ea;
  z-index: -2000;
}

.contact-container .background .line {
  float: left;
  margin-left: 16.5vw;
  width: 0.07812vw;
  height: 100%;
  background-color: #1c2330;
  opacity: 0.1;
}

.contact-container .circle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

.contact-container .circle-section .splatter {
  position: absolute;
  margin: -1.04167vw auto;
  width: 28.64583vw;
  height: 27.08333vw;
  z-index: -10;
}

.contact-container .circle-section .circle-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  width: 46.875vw;
  height: 46.875vw;
  margin-top: -2.60417vw;
  z-index: 0;
}

.contact-container .circle-section .circle-big .circle-small {
  position: absolute;
  -webkit-animation: rotate 30s linear infinite;
          animation: rotate 30s linear infinite;
  width: 18.22917vw;
  height: 18.22917vw;
  background-color: #121822;
  z-index: -5;
  margin-left: -2.60417vw;
}

.contact-container .circle-section .circle-big .contact-plane {
  position: relative;
  width: 50vw;
  height: auto;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  margin-top: 10.41667vw;
}

.contact-container .circle-section .scroll-arrow {
  position: absolute;
  margin: 0px auto;
  bottom: 1.04167vw;
  width: 0.67708vw;
  height: 3.64583vw;
}

.contact-container .circle-section .bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.contact-container .circle-section .heading-container {
  position: absolute;
  margin: 0vw auto;
  z-index: 21;
  /* the above is for styling puposes only */
}

.contact-container .circle-section .heading-container .type-wrap {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 9vw;
  font-family: "SofiaPro-Bold";
  font-weight: normal;
  letter-spacing: -0.3125vw;
  color: #fff;
  width: 100%;
  text-align: center;
}

.contact-container .contact-form-container {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.contact-container .contact-form-container .background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: #273040;
  z-index: -2000;
}

.contact-container .contact-form-container .background .line {
  float: left;
  margin-left: 16.5vw;
  width: 0.07812vw;
  height: 100%;
  background-color: #1c2330;
  opacity: 1;
}

.contact-container .contact-form-container .contact-form-card {
  position: absolute;
  background-color: #273040;
  -webkit-box-shadow: 0px 0px 5.98958vw #000000a6;
          box-shadow: 0px 0px 5.98958vw #000000a6;
  padding: 6vw;
  width: 70vw;
  top: 2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-container .contact-form-container .contact-form-card .input-field {
  position: relative;
  width: 45%;
}

.contact-container .contact-form-container .contact-form-card label {
  position: absolute;
  top: 1.30208vw;
  left: 0.78125vw;
  color: #fff;
  font-family: SofiaPro-SemiBold;
  text-align: left;
  font-weight: normal;
  font-size: 1.5625vw;
  letter-spacing: -1px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: text;
}

.contact-container .contact-form-container .contact-form-card input {
  width: 100%;
  padding: 1.04167vw 0.9375vw;
  margin: 0.41667vw 0;
  display: inline-block;
  border-radius: 0.20833vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #273040;
  border: none;
  color: #fff;
  font-family: SofiaPro-SemiBold;
  font-weight: normal;
  font-size: 1.5625vw;
  border-bottom: 2px solid #d3d3d3;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.contact-container .contact-form-container .contact-form-card .input-field-textarea {
  position: relative;
  width: 100%;
  margin-top: 4.16667vw;
}

.contact-container .contact-form-container .contact-form-card textarea {
  width: 100%;
  padding: 1.04167vw 0.9375vw;
  margin: 0.41667vw 0;
  display: inline-block;
  border-radius: 0.20833vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #273040;
  border: none;
  color: #fff;
  font-family: SofiaPro-SemiBold;
  font-weight: normal;
  font-size: 1.5625vw;
  border-bottom: 2px solid #d3d3d3;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  resize: none;
  height: 13.54167vw;
}

.contact-container .contact-form-container .contact-form-card input:invalid {
  outline: 0;
}

.contact-container .contact-form-container .contact-form-card input:focus,
.contact-container .contact-form-container .contact-form-card input:valid {
  border-color: #fff;
  border: 0.10417vw solid #fff;
  background-color: #0e131c;
}

.contact-container .contact-form-container .contact-form-card input:focus ~ label,
.contact-container .contact-form-container .contact-form-card input:valid ~ label {
  font-size: 1.25vw;
  top: -2.08333vw;
  color: #fff;
}

.contact-container .contact-form-container .contact-form-card textarea:invalid {
  outline: 0;
}

.contact-container .contact-form-container .contact-form-card textarea:focus,
.contact-container .contact-form-container .contact-form-card textarea:valid {
  border-color: #fff;
  border: 0.10417vw solid #fff;
  background-color: #0e131c;
}

.contact-container .contact-form-container .contact-form-card textarea:focus ~ label,
.contact-container .contact-form-container .contact-form-card textarea:valid ~ label {
  font-size: 1.25vw;
  top: -2.08333vw;
  color: #fff;
}

.contact-container .contact-form-container .contact-form-card .send-button {
  position: relative;
  margin-top: 3.125vw;
  width: 100%;
  color: #fff;
  color: #00e5ea;
  font-family: SofiaPro-SemiBold;
  text-align: left;
  font-weight: normal;
  text-decoration: underline;
  display: block;
  background-color: transparent;
  letter-spacing: -1px;
  border: none;
  cursor: pointer;
  font-size: 1.5625vw;
}
/*# sourceMappingURL=ContactPage.css.map */