//Standard Colours
$blue: #1473e6;
$light-grey: #f0f2f7;
$light-red: #fe8483;
$light-green: #38bc5b;
$dark-grey: rgb(85, 85, 85);
$light-orange: #f2785f;

//Element Colors
$inputboxborder: #e3e8f0;
$inputboxbackground: #f0f2f7;
$error: $light-red;
$success: $light-green;
$theme: #008323;
$popup-background: rgba(85, 85, 85, 0.3);
$line: $light-grey;
