@font-face {
  font-family: MontserratRegular;
  src: url("../Fonts/woff2Format/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: SofiaPro-Bold;
  src: url("../Fonts/woff2Format/SofiaPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: SofiaPro-Regular;
  src: url("../Fonts/woff2Format/Sofia-Pro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: SofiaPro-SemiBold;
  src: url("../Fonts/woff2Format/SofiaPro-SemiBold.woff2") format("woff2");
}

.skillz-outer-container {
  position: relative;
  width: 100%;
  height: 21.35417vw;
  margin-bottom: 10.41667vw;
}

.skillz-outer-container .skillz-container {
  position: relative;
  width: 30vw;
  height: 100%;
}

.skillz-outer-container .skillz-container .skillz-circle {
  position: absolute;
  width: 16.14583vw;
  height: 16.14583vw;
  background-color: #1a202b;
  -webkit-animation: rotate 30s linear infinite;
          animation: rotate 30s linear infinite;
  z-index: -200;
}

.skillz-outer-container .skillz-container .skillz-image {
  position: relative;
  width: 17.1875vw;
  height: auto;
  margin: 0vw auto;
  margin-top: 1.04167vw;
}

.skillz-outer-container .skillz-container h3 {
  position: relative;
  color: #fff;
  font-family: SofiaPro-SemiBold;
  margin-top: 0vw;
  font-weight: normal;
  font-size: 4.375vw;
  line-height: 4.6875vw;
  letter-spacing: -1px;
}

.skillz-outer-container .skillz-container h4 {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: SofiaPro-Bold;
  margin-top: -3.38542vw;
  width: 100%;
  margin-bottom: 3.64583vw;
  letter-spacing: 0.20833vw;
  text-transform: uppercase;
  color: #01b9c2;
  font-size: 1.04167vw;
}

.skillz-outer-container .skillz-container p {
  position: relative;
  margin: 0px auto;
  color: #7c8898;
  text-align: center;
  font-family: SofiaPro-Regular;
  font-weight: normal;
  font-size: 1.14583vw;
  line-height: 2.29167vw;
  margin-top: -1.5625vw;
  width: 85%;
}

.skillz-outer-container .left {
  float: left;
}

.skillz-outer-container .left .skillz-circle {
  float: left;
  left: 0px;
}

.skillz-outer-container .left .skillz-image {
  float: left;
}

.skillz-outer-container .left h3 {
  float: left;
  text-align: left;
}

.skillz-outer-container .left h4 {
  float: left;
  text-align: left;
}

.skillz-outer-container .left p {
  float: left;
  text-align: left;
}

.skillz-outer-container .right {
  float: right;
}

.skillz-outer-container .right .skillz-circle {
  float: right;
  right: 0px;
}

.skillz-outer-container .right .skillz-image {
  float: right;
}

.skillz-outer-container .right h3 {
  float: right;
  text-align: right;
}

.skillz-outer-container .right h4 {
  float: right;
  text-align: right;
}

.skillz-outer-container .right p {
  float: right;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .skillz-outer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 12.5vw;
    z-index: 300;
  }
  .skillz-outer-container .skillz-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 15vw;
  }
  .skillz-outer-container .skillz-container .skillz-circle {
    position: absolute;
    width: 38.75vw;
    height: 38.75vw;
    background-color: #1a202b;
    -webkit-animation: rotate 30s linear infinite;
            animation: rotate 30s linear infinite;
    z-index: -200;
  }
  .skillz-outer-container .skillz-container .skillz-image {
    position: relative;
    width: 41.25vw;
    height: auto;
    margin: 0vw auto;
    margin-top: 2.5vw;
  }
  .skillz-outer-container .skillz-container h3 {
    position: relative;
    color: #fff;
    font-family: SofiaPro-SemiBold;
    margin-top: 0vw;
    font-weight: normal;
    font-size: 11.75vw;
    line-height: 11.25vw;
    letter-spacing: -1px;
  }
  .skillz-outer-container .skillz-container h4 {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: SofiaPro-Bold;
    margin-top: -4.375vw;
    margin-bottom: 8.75vw;
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    color: #01b9c2;
    font-size: 2.5vw;
  }
  .skillz-outer-container .skillz-container p {
    position: relative;
    margin: 0px auto;
    color: #7c8898;
    text-align: center;
    font-family: SofiaPro-Regular;
    font-weight: normal;
    font-size: 4.125vw;
    line-height: 6.875vw;
    margin-top: -3.75vw;
    width: 100%;
  }
  .skillz-outer-container .left,
  .skillz-outer-container .right {
    float: left;
  }
  .skillz-outer-container .left .skillz-circle,
  .skillz-outer-container .right .skillz-circle {
    float: left;
    left: 0px;
  }
  .skillz-outer-container .left .skillz-image,
  .skillz-outer-container .right .skillz-image {
    float: left;
  }
  .skillz-outer-container .left h3,
  .skillz-outer-container .right h3 {
    float: left;
    text-align: left;
  }
  .skillz-outer-container .left h4,
  .skillz-outer-container .right h4 {
    float: left;
    text-align: left;
  }
  .skillz-outer-container .left p,
  .skillz-outer-container .right p {
    float: left;
    text-align: left;
  }
}
/*# sourceMappingURL=Skillz.css.map */