@font-face {
  font-family: MontserratRegular;
  src: url("../Fonts/woff2Format/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: SofiaPro-Bold;
  src: url("../Fonts/woff2Format/SofiaPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: SofiaPro-Regular;
  src: url("../Fonts/woff2Format/Sofia-Pro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: SofiaPro-SemiBold;
  src: url("../Fonts/woff2Format/SofiaPro-SemiBold.woff2") format("woff2");
}

.about-container {
  position: absolute;
  overflow-x: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.about-container .background {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #273040;
  z-index: -2000;
}

.about-container .background .line {
  float: left;
  margin-left: 16.5vw;
  width: 0.07812vw;
  height: 100%;
  background-color: #1c2330;
}

.about-container .circle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.about-container .circle-section .splatter {
  position: absolute;
  margin: 1.04167vw auto;
  width: 55.57292vw;
  height: 45.83333vw;
}

.about-container .circle-section .circle-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  width: 36.45833vw;
  height: 36.45833vw;
  background-color: #00e5ea;
  -webkit-animation: none;
          animation: none;
  margin-top: 2.60417vw;
  z-index: 21;
}

.about-container .circle-section .circle-big .selfImage {
  position: relative;
  width: 22.39583vw;
  height: 39.0625vw;
  margin-top: 14.58333vw;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-container .circle-section .heading-container {
  position: absolute;
  margin: 7.8125vw auto;
  z-index: 21;
  /* the above is for styling puposes only */
}

.about-container .circle-section .heading-container .type-wrap {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 12vw;
  font-family: "SofiaPro-Bold";
  font-weight: normal;
  letter-spacing: -0.83333vw;
  color: #fff;
  width: 100%;
  text-align: center;
}

.about-container .plane-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  z-index: -10;
}

.about-container .plane-container .plane {
  position: relative;
  width: 16.66667vw;
  margin: 10.9375vw auto;
  height: 18.22917vw;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.about-container .about-me-container {
  position: relative;
  padding: 4vw;
  width: 70vw;
  margin: 0px auto;
  margin-top: 6.77083vw;
  z-index: 200;
  background-color: #273040;
  -webkit-box-shadow: 0 0 7.8125vw #000000a6;
          box-shadow: 0 0 7.8125vw #000000a6;
}

.about-container .about-me-container h2 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: SofiaPro-SemiBold;
  text-align: center;
  font-weight: normal;
  font-size: 4vw;
  letter-spacing: -1px;
  margin-bottom: 2.08333vw;
}

.about-container .about-me-container p {
  position: relative;
  margin: 0px auto;
  color: #7c8898;
  text-align: center;
  font-family: SofiaPro-Regular;
  font-weight: normal;
  font-size: 1.5625vw;
  line-height: 2.60417vw;
  width: 90%;
}

.about-container .wave-container {
  margin-top: 5.20833vw;
  position: relative;
  width: 100vw;
  height: auto;
  margin-bottom: 3.64583vw;
  z-index: -1;
}

.about-container .skillz-main-container {
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 16.66667vw;
  padding-right: 10.41667vw;
}

.about-container .skillz-main-container .image-fix-1 .skillz-image {
  width: 26.04167vw;
  margin-top: -2.08333vw;
}

.about-container .skillz-main-container .image-fix-2 .skillz-image {
  width: 19.79167vw;
}

.about-container .wave-container2 {
  margin-top: 36.45833vw;
  position: relative;
  width: 100vw;
  height: auto;
  margin-bottom: 3.64583vw;
  z-index: -15;
}

.about-container .experience-container {
  position: relative;
  width: 70%;
  height: auto;
  padding: 6% 6% 10% 6%;
  margin: 0px auto;
}

.about-container .experience-container h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: SofiaPro-SemiBold;
  text-align: center;
  font-weight: normal;
  font-size: 3vw;
  letter-spacing: -1px;
  margin-bottom: 3.125vw;
}

.about-container .experience-container .experience-logo-container {
  width: 80%;
  height: auto;
  margin: 0px auto;
}

@media screen and (max-width: 800px) {
  .about-container {
    position: absolute;
    overflow-x: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
  }
  .about-container .background {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #273040;
    z-index: -2000;
  }
  .about-container .background .line {
    float: left;
    margin-left: 16.5vw;
    width: 0.1875vw;
    height: 100%;
    background-color: #1c2330;
  }
  .about-container .circle-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .about-container .circle-section .splatter {
    position: absolute;
    margin: 2.5vw auto;
    width: 83.375vw;
    height: 60vw;
  }
  .about-container .circle-section .circle-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
    width: 62.5vw;
    height: 62.5vw;
    background-color: #00e5ea;
    -webkit-animation: none;
            animation: none;
    margin-top: 6.25vw;
    z-index: 21;
  }
  .about-container .circle-section .circle-big .selfImage {
    position: relative;
    width: 53.75vw;
    height: 93.75vw;
    margin-top: 35vw;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .about-container .circle-section .heading-container {
    position: absolute;
    margin: 18.75vw auto;
    z-index: 21;
    /* the above is for styling puposes only */
  }
  .about-container .circle-section .heading-container .type-wrap {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20vw;
    font-family: "SofiaPro-Bold";
    font-weight: normal;
    letter-spacing: -0.5vw;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .about-container .plane-container {
    position: fixed;
    top: 0px;
    left: 80vw;
    right: 0px;
    width: 100%;
    height: 100%;
    display: none;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
    z-index: -10;
  }
  .about-container .plane-container .plane {
    position: relative;
    width: 40vw;
    margin-top: 87.5vw;
    height: 43.75vw;
    -webkit-animation: float 6s ease-in-out infinite;
            animation: float 6s ease-in-out infinite;
  }
  .about-container .about-me-container {
    position: relative;
    padding: 4vw;
    width: 100vw;
    margin: 0px auto;
    margin-top: 16.25vw;
    z-index: 200;
    background-color: #273040;
    -webkit-box-shadow: 0 0 18.75vw #000000a6;
            box-shadow: 0 0 18.75vw #000000a6;
  }
  .about-container .about-me-container h2 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: SofiaPro-SemiBold;
    text-align: center;
    font-weight: normal;
    font-size: 10vw;
    letter-spacing: -1px;
    margin-bottom: 10vw;
  }
  .about-container .about-me-container p {
    position: relative;
    margin: 0px auto;
    color: #7c8898;
    text-align: center;
    font-family: SofiaPro-Regular;
    font-weight: normal;
    font-size: 3.75vw;
    line-height: 6.25vw;
    width: 90%;
    margin-bottom: 10vw;
  }
  .about-container .wave-container {
    margin-top: 37.5vw;
    position: relative;
    width: 100vw;
    height: auto;
    margin-bottom: 8.75vw;
    z-index: 0;
  }
  .about-container .wave-container .wave {
    width: 200%;
  }
  .about-container .skillz-main-container {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
  }
  .about-container .skillz-main-container .image-fix-1 .skillz-image {
    width: 62.5vw;
    margin-top: -5vw;
  }
  .about-container .skillz-main-container .image-fix-2 .skillz-image {
    width: 47.5vw;
  }
  .about-container .wave-container2 {
    margin-top: 37.5vw;
    position: relative;
    width: 100vw;
    height: auto;
    margin-bottom: 8.75vw;
    z-index: 0;
  }
  .about-container .wave-container2 .wave {
    width: 200%;
  }
  .about-container .experience-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 6% 6% 10% 6%;
    margin: 0px auto;
  }
  .about-container .experience-container h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: SofiaPro-SemiBold;
    text-align: center;
    font-weight: normal;
    font-size: 7.5vw;
    letter-spacing: -1px;
    margin-bottom: 10vw;
  }
  .about-container .experience-container .experience-logo-container {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
}
/*# sourceMappingURL=AboutPage.css.map */