@import "../../CSS/color.scss";
@import "../../CSS/font.scss";

$desk: 100/1920;
$mul: 100/800;
.about-container {
  position: absolute;
  overflow-x: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  .background {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #273040;
    .line {
      float: left;
      margin-left: 16.5vw;
      width: 1.5 * $desk + vw;
      height: 100%;
      background-color: #1c2330;
    }
    z-index: -2000;
  }

  .circle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    .splatter {
      position: absolute;
      margin: 20 * $desk + vw auto;
      width: 1067 * $desk + vw;
      height: 880 * $desk + vw;
    }
    .circle-big {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto;
      width: 700 * $desk + vw;
      height: 700 * $desk + vw;

      background-color: #00e5ea;
      animation: none;
      margin-top: 50 * $desk + vw;
      z-index: 21;
      .selfImage {
        position: relative;
        width: 430 * $desk + vw;
        height: 750 * $desk + vw;
        margin-top: 280 * $desk + vw;
        filter: grayscale(100%);
        // margin-top: -150 * $desk + vw;
        // margin-left: -150 * $desk + vw;
      }
    }
    .heading-container {
      position: absolute;
      margin: 150 * $desk + vw auto;
      z-index: 21;
      .type-wrap {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 12vw;
        font-family: "SofiaPro-Bold";
        font-weight: normal;
        letter-spacing: -16 * $desk + vw;
        color: #fff;
        width: 100%;
        text-align: center;
      }
      /* the above is for styling puposes only */
    }
  }
  .plane-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    z-index: -10;
    .plane {
      position: relative;
      width: 320 * $desk + vw;
      margin: 210 * $desk + vw auto;
      height: 350 * $desk + vw;
      animation: float 6s ease-in-out infinite;
    }
  }

  .about-me-container {
    position: relative;
    padding: 4vw;
    //padding-bottom: 170 * $desk + vw;
    width: 70vw;
    margin: 0px auto;
    margin-top: 130 * $desk + vw;

    z-index: 200;
    background-color: #273040;
    box-shadow: 0 0 150 * $desk + vw #000000a6;
    h2 {
      padding: 0;
      margin: 0;
      color: #fff;
      font-family: SofiaPro-SemiBold;
      text-align: center;
      font-weight: normal;
      font-size: 4vw;
      letter-spacing: -1px;
      margin-bottom: 40 * $desk + vw;
    }
    p {
      position: relative;
      margin: 0px auto;
      color: #7c8898;
      text-align: center;
      font-family: SofiaPro-Regular;
      font-weight: normal;
      font-size: 30 * $desk + vw;
      line-height: 50 * $desk + vw;
      width: 90%;
    }
  }

  .skillz-main-container {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 320 * $desk + vw;
    padding-right: 200 * $desk + vw;
  }
  .wave-container2 {
    margin-top: 300 * $desk + vw;
    position: relative;
    width: 100vw;
    height: auto;
    margin-bottom: 70 * $desk + vw;
    z-index: -15;
    .wave {
    }
  }
  .experience-container {
    position: relative;
    width: 70%;
    height: auto;
    padding: 6% 6% 10% 6%;
    margin: 0px auto;
    h3 {
      margin: 0;
      padding: 0;
      text-align: center;
      color: #fff;
      font-family: SofiaPro-SemiBold;
      text-align: center;
      font-weight: normal;
      font-size: 3vw;
      letter-spacing: -1px;
      margin-bottom: 60 * $desk + vw;
    }
    .experience-logo-container {
      width: 80%;
      height: auto;
      margin: 0px auto;
    }
  }
  .work-container {
    width: 70vw;
    height: 600 * $desk + vw;
    margin: 0 auto;
    background: url(../../Images/wine.png) #ff4338;
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: bottom center;
    box-shadow: 0 0 150 * $desk + vw #000000a6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150 * $desk + vw;
    margin-bottom: 150 * $desk + vw;
    h3 {
      margin: 0;
      padding: 0;
      text-align: center;
      color: #fff;
      font-family: SofiaPro-SemiBold;
      text-align: center;
      font-weight: normal;
      font-size: 5vw;
      letter-spacing: -1px;
    }
  }
}

@media screen and (max-width: 800px) {
  .section-container {
  }
}
